body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #3c8397;
    background: #f0f0f0;
}

header {
    text-align: center;
    padding: 50px 0;
    background: linear-gradient(45deg, #8b8915, #792b1b);
    color: white;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

nav {
    background: #1b7157;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    padding: 15px;
    display: block;
}

nav ul li a:hover {
    background: #575757;
}

section {
    padding: 300px 0;
    text-align: center;
    background: rgb(180, 188, 26);
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    width: 100%;
    margin: auto;
}

h2 {
    margin-bottom: 20px;
    color: #11b2cb;
}

ul {
    padding: 0;
    list-style: none;
}

ul li {
    display: inline-block;
    background: #16682f;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 25px;
}

.project {
    margin-bottom: 40px;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin: 10px 0 5px;
    color: #509b40;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background: #6a11cb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #6b1d5f;
}
